*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
    
}
.banner{
    background: url(../img/banner.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
    
}
.banner_content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 100%; 
}

.banner_content h1{
    color: #fff;
    font-size: 220px;
}

.year_1 {
	text-shadow: -4px 5px 8px goldenrod;
}
.year_2 {
	text-shadow: -4px 5px 8px hotpink;
}
.year_3 {
	text-shadow: -4px 5px 8px royalblue;
}
.year_4 {
	text-shadow: -4px 5px 8px red;
}
.calander_container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 4rem;
	width: 80%;
	margin: 100px auto;
}
.calender_item{
    display: grid;
    flex-direction: row;
}

.month{
    background: red;
    text-align: center;
}


.calender {
    display: grid;
    height: 200px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows:  2rem repeat(5, 2rem);
    /* grid-gap: 0.5rem; */
    

}


.date, .day {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 10px; */
    /* padding: 0 10px; */
    font-weight: 700;
}
.date:hover{
    cursor: pointer;
    background-color: rgb(161, 161, 161);
    border-radius: 50%;
}


.day{
    background-color: #DDDDDD;
}

.off_day{
    color: #FE402F;
}

.month h3 {
	padding: 10px 0;
	color: #fff;
}



/* color class  */
.bg_1{
    background: #F1C00B;
}
.bg_2{
    background: #FE402F;
}
.bg_3{
    background: #34696F;
}
.bg_4{
    background: #3BBFB1;
}
.bg_5{
    background: #1E1E1E;
}

.bg_6{
    background: #BF4E6C;
}
